<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <title> <%= title %> </title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <div class="container mt-4">
        <h1>Welcome to About Page!!</h1>
        <a href="/download">Download</a>
    </div>
</body>
</html>